development:
  upload_path: "public/data"
  rsync_user: 
  rsync_pass: 
  rsync_path: /usr/local/bin/rsync

test:
  upload_path: "public/data"
  rsync_user: 
  rsync_pass: 
  rsync_path: /usr/local/bin/rsync
  
production:
  upload_path: "public/data"
  rsync_user: 
  rsync_pass: 
  rsync_path: /usr/local/bin/rsync
