development:
  upload_path: "public/data"
  user: 
  pass:
  rsync: /usr/local/bin/rsync 

test:
  upload_path: "public/data"
  user: 
  pass: 
  rsync: /usr/local/bin/rsync
  
production:
  upload_path: "public/data"
  user: 
  pass: 
  rsync: /usr/local/bin/rsync
