<% content_for :content do %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
          	<li class="nav-header">Files</li>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
      	<%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div><!--/row-->
  </div><!-- /container -->
<% end %>

<%= render :file => 'layouts/application' %>
